body{
    
  font-family: "Amarna", sans-serif;
  height:500px;
  width:650px;
  background-color:rgb(49, 66, 102);
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto auto;
  margin-top:30px;
}
#card{
    margin-top:20px;
    background-color:rgb(39, 46, 62);
    padding:10px 30px 30px 20px;
    margin-top:0px;
    border:2px solid rgb(82, 96, 132);
    border-radius:20px;
}

#firstLine{
    margin-bottom: 0;
    color:white;
    font-size:60px;
}
#secondLine{
   margin-top:0;
   color:#47e877;
   margin-bottom: 0;
   font-size:60px;
}
p{
    margin-top: 0;
    color:rgb(231, 225, 225);
    font-size:24px;
}
button{
    margin:20px 0;
    background-color:#47e877;
    border:none;
    padding:10px 15px;
    border-radius: 5px;
    font-size:24px;
    color:rgb(236, 226, 226);
    text-shadow: 2px 0 4px black;
}
hr{
    color:rgb(46, 39, 39);
    background-color: rgb(199, 191, 191);
    border:1px solid rgb(97, 92, 92);
}
#passwords{
   display:flex;
   gap:20px;
   justify-content:center;
   align-items:center;
   color:#47e877;
}
h3{
    background-color:rgb(64, 75, 103);
    padding:5px 20px;
    border-radius:8px;
    font-size:24px;
    
}
input{
    margin:20px 0;
    background-color:#47e877;
    border:none;
    padding:10px 0px;
    border-radius: 5px;
    font-size:24px;

}
#inp{
    display: flex;
    gap:20px;

}
#num1::placeholder{
    color:rgb(218, 218, 218);
    text-shadow: 2px 0 4px black;
    text-align: center;
}